.cabecera {
    background-color: #499F42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera h2 {
    color: #ffff;
}


/*** Login ***/

.login h2 {
    color: #499F42;
}

.btn-login {
    background-color: #0D56A0;
    color: #ffff;
}